<a href="https://colab.research.google.com/github/thefr33radical/codeblue/blob/master/scratch/RA_NU_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install partd
!pip install toolz

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
from google.colab import drive,files
import pandas as pd
import io
import dask.dataframe as dd
drive.mount('/content/drive')

In [0]:
## Table 1
df1 = pd.read_excel('/content/drive/My Drive/Copy of Zephyr 2000-11 industry.xls',sheet_name="Results")

print(len(df1.columns),len(df1))
df1=df1[df1['Deal Number'].notnull()]
df1["Deal Number"] = df1["Deal Number"].astype(int)
print("Zephyr 2000-11 industry.xls",len(df1),len(set(df1["Deal Number"])),"\n")

## Table 2
df2 = pd.read_excel('drive/My Drive/Copy of Zephyr 2000-2011 Deals.xls',sheet_name="Results")
print(len(df2.columns),len(df2))
df2=df2[df2['Deal Number'].notnull()]
df2["Deal Number"] = df2["Deal Number"].astype(int)
print("Zephyr 2000-2011 Deals.xls",len(df2),len(set(df2["Deal Number"])),"\n")

## Table 3
df3 = pd.read_excel('drive/My Drive/Copy of Zephyr 2000-11 contact & legal.xls',sheet_name="Results")
print(len(df3.columns),len(df3))
df3=df3[df3['Deal Number'].notnull()]
df3["Deal Number"] = df3["Deal Number"].astype(int)
print("Zephyr 2000-11 contact & legal.xls",len(df3),len(set(df3["Deal Number"])),"\n")

# Table 4
df4 = pd.read_excel('drive/My Drive/Copy of Zephyr 2000-2011 Ownership.xls',sheet_name="Results")
print(len(df4.columns),len(df4))
df4=df4[df4['Deal Number'].notnull()]
df4["Deal Number"] = df4["Deal Number"].astype(int)
print("Zephyr 2000-2011 Ownership.xls",len(df4),len(set(df4["Deal Number"])),"\n")

36 26918
Zephyr 2000-11 industry.xls 20764 20764

20 21256
Zephyr 2000-2011 Deals.xls 20764 20764

12 26918
Zephyr 2000-11 contact & legal.xls 20764 20764

33 26916
Zephyr 2000-2011 Ownership.xls 20764 20764

In [0]:

dd_df1 = dd.from_pandas(df1, npartitions=10)
dd_df2 = dd.from_pandas(df2, npartitions=10)
dd_df3 = dd.from_pandas(df3, npartitions=10)
dd_df4 = dd.from_pandas(df4, npartitions=10)

del(df1)
del(df2)
del(df3)
del(df4)

In [0]:
result_dd1 = dd_df1.merge(dd_df2, on='Deal Number',how='inner').compute()
print(len(result_dd1))

20764

In [0]:
result_dd2 = dd_df3.merge(dd_df4, on='Deal Number',how='inner').compute()
print(len(result_dd2))

20764

In [0]:
result= pd.merge(result_dd1, result_dd2, on='Deal Number', how='inner')
print(len(result),len(result.columns))

20764 98

In [0]:
result.to_csv("drive/My Drive/result.csv")